.dice-logo {
  margin-top: 30px;
  margin-bottom: 100px;
}

.dices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}
